.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(6, 89, 104);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #282c34;
  width: 500px;
  border-radius: 25%;
}

.container .btn {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  cursor: pointer;
  flex: 0 0 50%;
  display: inline;
  background-color: #61fb9c;
  color: #282c34;
  width: 100px;
  border-radius: 20%;
  padding: 10px;
  margin: 10px 10px 50px 10px;;
}

.container .item img {
  width: 150px;
  height: 150px;
}
